* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #202124;
    --text: #e8eaed;
    --secondary: #9aa0a6;
    --border: rgba(255,255,255,0.08);
    --accent: #fbbc04;
}

body {
    color: var(--text);

    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;

    padding: 15px 20px;

    overflow-x: hidden;

    position: relative;

    background: #000;
}

body::before {
    content: "";

    position: fixed;
    inset: 0;

    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.486),
            rgba(0, 0, 0, 0.436)
        );

    backdrop-filter: blur(2px);

    z-index: -2;
}

.weather-app {
    max-width: 1100px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* SEARCH */

.search-section {
    position: sticky;

    z-index: 20;

    padding: 10px;

    background: rgba(15, 23, 42, 0.35);

    backdrop-filter: blur(18px);

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 22px;

    box-shadow:
        0 10px 40px rgba(0,0,0,0.25);

    margin-bottom: 10px;
}

.user-input-form {
    display: flex;
    gap: 14px;
}

.user-input-form input {
    flex: 1;

    min-width: 0;

    background:
        rgba(255,255,255,0.08);

    border:
        1px solid rgba(255,255,255,0.08);

    outline: none;

    color: white;

    padding: 10px 15px;

    border-radius: 16px;

    font-size: 1rem;

    backdrop-filter: blur(12px);

    transition:
        border-color 0.25s ease,
        background 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.2s ease;
}

.user-input-form input::placeholder {
    color: rgba(255,255,255,0.55);
}

.user-input-form input:focus {
    background:
        rgba(255,255,255,0.12);

    border-color:
        rgba(255,255,255,0.18);

    box-shadow:
        0 0 0 4px rgba(255,255,255,0.05);

    transform: translateY(-1px);
}

.user-input-form button {
    border: none;

    background: #e4d48b;

    color: #1e1e1e;

    padding: 10px 20px;

    border-radius: 16px;

    font-weight: 600;

    font-size: 0.95rem;

    cursor: pointer;

    transition:
        transform 0.2s ease,
        box-shadow 0.25s ease,
        filter 0.25s ease;

}

.user-input-form button:hover {
    background: #f0b84f;

    transform: translateY(-2px);

    filter: brightness(1.05);

    box-shadow:
        0 12px 30px rgba(240, 184, 79, 0.38);
}

.user-input-form button:active {
    transform: scale(0.97);
}

/* CURRENT WEATHER */

.current-weather {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border);
}

.top-weather {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.left-weather {
    display: flex;
    gap: 40px;
    align-items: center;
}

.main-weather-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.weather-icon {
    width: 90px;
}

.temperature-row {
    display: flex;
    align-items: flex-start;
    width: max-content;
}

.temperature {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1;
}

.unit {
    margin-top: 10px;
    font-size: 1.4rem;
    color: var(--secondary);
}

.unit  button {
    border: none;
    font-size: 1rem;
    background-color: #00000000;
    color: var(--secondary);
}

.unit button.clicked {
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}

.condition {
    color: var(--secondary);
    margin-top: 8px;
    font-size: 1rem;
}

.extra-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    color: var(--secondary);
}

.right-weather {
    text-align: right;
}

.city-name {
    font-size: 2.5rem;
    font-weight: 500;
}

.date-time {
    margin-top: 10px;
    color: var(--secondary);
}

/* SECTION */

.forecast-section {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border);
}

.section-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

/* HOURLY */

.hourly-container {
    padding: 16px 18px;
    background: rgba(138, 138, 138, 0.03);
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 16px;

    display: flex;
    overflow-x: auto;
    gap: 25px;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.458) var(--border);
    padding-bottom: 8px;
}

.hour-card {
    text-align: center;
    min-width: 80px;
}

.hour-card img {
    width: 40px;
    height: 40px;
    margin: 10px 0;
}

.hour-card > p:last-child {
    font-size: 0.9rem;
}

/* WEEKLY */

.weekly-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.week-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 18px;

    background: rgba(138, 138, 138, 0.03);

    border: 1px solid rgba(255,255,255,0.05);

    border-radius: 16px;

    cursor: pointer;

    transition:
        background 0.25s ease,
        border-color 0.25s ease,
        transform 0.2s ease;
}

.week-card:hover {
    background: rgba(255,255,255,0.06);
    border-color: rgba(255,255,255,0.12);
    transform: translateY(-3px);
    transform: scale(1.02);
}

.week-card:active {
    transform: scale(0.98);
}

.week-card > div {
    min-width: 120px;
}

.week-right {
    text-align: end;
}

.week-card img {
    width: 35px;
    height: 25px;
}

/* DETAILS */

.details-section {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

    gap: 10px;

    padding-bottom: 30px;

    border-bottom: 1px solid var(--border);
}

.detail-title {
    color: var(--secondary);
    margin-bottom: 10px;
}

.detail-box h3 {
    font-size: 2rem;
    font-weight: 500;
}

/* SUN */

.sun-section {
    display: flex;
    gap: 60px;
}

.sun-box h3 {
    font-size: 2rem;
    font-weight: 500;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .top-weather {
        flex-direction: column;
    }

    .left-weather {
        flex-direction: column;
        align-items: center;
    }

    .right-weather {
        text-align: left;
    }

    .temperature {
        font-size: 4rem;
    }

    .city-name {
        font-size: 2rem;
    }

    .sun-section {
        justify-content: space-between;
        gap: 10px;
    }

}

/* =========================
   LOADING
========================= */

body {
    margin: 0;
    font-family: sans-serif;
}

.loader {
    position: fixed;
    inset: 0;
    background: #0f172a;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 12px;
    z-index: 1000;
}

.spinner {
    width: 50px;
    height: 50px;

    border: 5px solid #334155;
    border-top-color: #38bdf8;
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.bg-video {
    position: fixed;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: -3;
}